@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.video {

    &__info-section {
        margin: 1rem;

        @include tablet {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }

        @include desktop {
            margin: 0 0 0 8rem;
            padding-bottom: 3rem;
            border-right: 1px solid $secondary-background;
        }
    }

    &__title {
        font-weight: 700;
        color: $main-text;

        @include tablet {
            margin: .5rem 0;
            font-size: 2rem;
        }

        @include desktop {
            padding-top: 1.5rem;
        }
    }

    &__info {
        display: flex;
        border-top: 1px solid $secondary-background;
        border-bottom: 1px solid $secondary-background;

        @include tablet {
            border-top: none;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5rem;
        }

        @include desktop {
            padding-right: 2rem;
        }
    }

    &__details {
        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 13rem;
        }
    }

    &__channel {
        color: $main-text;
        font-size: .81rem;
        margin-top: 1rem;
        margin-bottom: 0;

        @include tablet {
            font-size: .88rem;
        }
    }

    &__date {
        color: $secondary-highlight;
        font-size: .81rem;

        @include tablet {
            margin-bottom: 0;
            font-size: .88rem;
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;

        @include tablet {
            flex-direction: row;
            margin-bottom: 0;
        }
    }

    &__stat {
        display: flex;
    }

    &__stat-icon {
        margin-right: .5rem;
        margin-left: 4rem;
    }

    &__stat-count {
        color: $secondary-highlight;
        font-size: .81rem;
        margin: 0;

        @include tablet {
            font-size: .88rem;
        }
    }

    &__description {
        font-size: .81rem;
        line-height: 1.13rem;

        @include tablet {
            margin: 1.5rem 0;
            line-height: 1.38rem;
            font-size: .88rem;
        }

        @include desktop {
            padding-right: 2rem;
        }
    }

    &__comment-count {
        font-size: .81rem;
        margin-bottom: 0;
        color: $main-text;
        margin-top: 1.5rem;

        @include tablet {
            font-size: .88rem;
        }

        @include desktop {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
    }

    &__comment-form {
        display: flex;
        margin-top: .5rem;
        justify-content: center;

        @include tablet {
            margin-bottom: 1.25rem;
        }

        @include desktop {
            padding-right: 2rem;
        }

        &__avatar {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            margin-right: 1rem;
            margin-top: 2.25rem;

            @include tablet {
                margin-right: 1.5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &__details {
            width: 100%;

            @include tablet {
                display: flex;
                width: 100%;
            }
        }

        &__prompt {


            @include tablet {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        &__title {
            font-size: .81rem;
            font-weight: 700;
            margin-bottom: .25rem;
            color: $secondary-highlight;

            @include tablet {
                font-size: .88rem;
            }
        }

        &__input {
            box-sizing: border-box;
            min-width: 25rem;
            width: 100%;
            height: 6rem;
            padding: .75rem;
            border-radius: 4px;
            background-color: $form-field;
            margin-bottom: .5rem;
            border-color: $secondary-background;
            font-size: .81rem;

            &::placeholder {
                color: $main-text;
            }

            @include tablet {
                font-size: .88rem;
                height: 2.5rem;
            }
        }

        &__submit {
            min-width: 10rem;
            width: 100%;
            background-color: $main-highlight;
            color: $primary;
            font-weight: 700;
            font-size: .81rem;
            border-radius: 4px;
            border: none;
            height: 2.5rem;
            margin-bottom: 1rem;
            position: relative;

            &:hover {
                background-color: $button-highlight;
            }

            @include tablet {
                width: 40%;
                margin-left: 1.5rem;
                align-self: flex-end;
                margin-bottom: .5rem;
            }
        }

        &__comment-icon {
            position: absolute;
            left: .75rem;
            top: .6rem;
        }
    }

    &__comments {
        
    }

    &__comment {
        border-bottom: 1px solid $secondary-background;
        display: flex;
        padding-top: 1rem;

        &:first-child {
            border-top: 1px solid $secondary-background;
        }

        &:last-child {
            @include desktop {
                border-bottom: none;
            }
        }

        @include desktop {
            padding-right: 2rem;
        }

        &__avatar {
            background-color: $secondary-background;
            border-radius: 50%;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 1rem;
        }

        &__info {
            width: 80%;

            @include tablet {
                width: 100%;
            }
        }

        &__details {
            display: flex;
            justify-content: space-between;
        }

        &__name {
            font-size: .81rem;
            margin: 0;
            color: $main-text;

            @include tablet {
                font-size: .88rem;
            }
        }

        &__date {
            margin-top: 0;
            color: $secondary-highlight;
            font-size: .81rem;

            @include tablet {
                font-size: .88rem;
            }
        }

        &__content {
            font-size: .81rem;
            margin-top: 0;
            line-height: 1.13rem;

            @include tablet {
                font-size: .88rem;
                line-height: 1.38rem;
            }
        }
    }
}