$main-highlight: #0095FF;
$secondary-background: #E1E1E1;
$secondary-highlight: #AFAFAF;
$form-field: #FAFAFA;
$primary: #FFFFFF;
$main-text: #323232;
$detail-background: #000000;
$button-highlight: #0065AD;
