@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next-videos {
    margin: 1rem;
    margin-bottom: 0;
    color: $secondary-highlight;

    @include tablet {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    @include desktop {
        margin-left: 2rem;
        margin-right: 8rem;
    }

    &__title {
        font-size: 1rem;
        margin: 1.5rem 0 .5rem 0;
    }

    &__video {
        display: flex;
        height: 4rem;
    }
    
    &__thumbnail {
        border-radius: 4px;
        width: 5rem;

        @include tablet {
            width: 7rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        justify-content: space-between;
        width: 12rem;
    }

    &__video-title {
        margin: 0;
        font-size: .81rem;
        color: $main-text;

        @include tablet {
            font-size: .88rem;
        }
    }

    &__channel {
        font-size: .81rem;
        margin-bottom: .2rem;
        color: $main-text;
        font-weight: 400;

        @include tablet {
            font-size: .88rem;
            margin-bottom: 0;
            margin-top: .5rem;
        }
    }
}