@use '../../styles/partials/colors' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include tablet {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
        flex-direction: row;
    }

    @include desktop {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    &__logo-link {
        padding: 0;
        display: flex;
    }

    &__logo {
        height: 1.56rem;
        width: 7.5rem;
        align-self: center;
        margin-bottom: 1rem;
        
        @include tablet {
            align-items: center;
            margin-bottom: 0;
        }
    }

    &__features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        @include tablet {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            flex-wrap: nowrap;
            width: 80%;
            justify-content: end;
        }
    }

    &__search-bar {
        position: relative;
        width: 70%;

        @include tablet {
            width: 45%;
            order: 1;
            display: flex;
            justify-content: end;
        }

        @include desktop {
            width: 30%;
        }
    }

    &__search {
        border-radius: 4px;
        height: 2rem;
        width: 100%;
        margin-right: 1rem;
        border: 2px solid $secondary-background;
        background-color: $form-field;
        padding-left: 2.2rem;

        @include tablet {
            width: 100%;
            height: 2.2rem;
        }

        &::placeholder {
            color: $main-text;
        }
    }

    &__search-icon {
        position: absolute;
        left: .75rem;
        top: .6rem;
    }

    &__upload-link {
        width: 100%;
        padding: 0;

        @include tablet {
            margin-top: 0;
            width: 25%;
            order: 2;
        }

        @include desktop {
            width: 20%;
            margin-left: .75rem;
            margin-right: 1.25rem;
        }
    }

    &__upload {
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: none;
        background-color: $main-highlight;
        color: $primary;
        font-weight: 700;
        position: relative;
        width: 100%;
        margin-top: 1rem;

        &:hover {
            background-color: $button-highlight;
        }

        @include tablet {
            margin-top: 0;
        }

        &__icon {
            position: absolute;
            left: .5rem;
        }
    }

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;

        @include tablet {
            order: 3;
            margin-left: 1rem;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}